*{
  margin: 0;
  padding: 0;
  color: #000;
  list-style: none;
  text-decoration: none;
}

.main_page  {
  height: 100vh;
  /* background-color: #FFFDFA; */
}

.main_page a {
  color: #654639;
}

nav {
  height: 100px;
  background-color: #A77864; 
  position: relative;
}


.logo {
  text-align: center;
  font-size: 90px;
  letter-spacing: 18px;
  line-height: 100px;
}

.logo > span {
  cursor: pointer;
}

.login_signup{
  font-size: 20px;
  position: absolute;
  top: 0%;
  right: 3%;
  display: flex;
  line-height: 100px;
}

.login_signup a:hover{
  opacity: .6;
  transition: .3s;
}

.login_signup > li:last-child{
  margin-left: 30px;
}

.main_page_body  {
  width: 100%;
  height: calc(100vh - 100px);
}

.main_page_body > ul {
  display: flex;
  justify-content: space-around;
}

.body_left{
  width: 30%;
}
.body_left > ul > li{
  width: 80%;
  height: 80%;
  margin: 130px 0;
}

.body_left_1{
  border-radius: 30px;
  background-color: #FFE1A9;
}

.body_left_1 > ul > li:first-child {
  text-align: center;
  padding-top: 30px;
}

.body_left_1 > ul > li:last-child {
  text-align: center;
  line-height: 160px;
}

.body_left_1 span {
  font-size: 40px;
}

.body_left_2 > div{
  height: 450px;
}

.body_right {
  margin-top: 130px;
  width: 790px;
  height: 100%;
  position: relative;
}
.cs-chat-container {
  height: 80%;
}

.modal {
  transition: .3s;
}

.modal_1 {
  background-color: #db987b;
  width: 180px;
  height: 180px;
  border-radius: 10%;
  position: absolute;
  bottom: 9%;
}
.modal_1 > li {
  cursor: pointer;
  background-color: #fff;
  width: 140px;
  text-align: center;
  line-height: 30px;
  margin: 23px auto;
  border-radius: 3%;
  height: 30px;
}

.modal_2 {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 50px solid #db987b;
  position: absolute;
  bottom: 5%;
  left: 1.2%;
  transform: rotate(180deg);
}